<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#4c7bf3">

    <link rel="stylesheet" href="{{ "/dist/app.css" | relative_url }}">

    <title>{{ site.title }}</title>
  </head>
  <body>
    {{ content }}

    <script src="{{ "/dist/vendor.js" | relative_url }}"></script>
    <script src="{{ "/dist/app.js" | relative_url }}"></script>
  </body>
</html>