<div class="col-12 my-3 my-sm-5 py-3 py-sm-5">
  <div>
    <i class="fab fa-github fa-fw"></i> Github Repositories
  </div>
  <div class="row lg-gutter d-flex align-items-stretch" v-if="repoLoaded">
    <div class="col-md-4 col-sm-6 col-12 mt-4 d-flex" v-for="repo in repos">
      <repo :repo="repo" :key="repo.id" v-bind:class="{ 'align-self-stretch flex-fill border border-light rounded shadowable' : true }"></repo>
    </div>
  </div>
  <div class="text-center" v-else>
    <span class="text-muted">Getting the repositories from Github ..</span>
  </div>
</div>