@import url('https://fonts.googleapis.com/css?family=Roboto:300,500,700');

$font-family-sans-serif:      'Roboto', sans-serif;
$font-weight-normal:          300;

$blue: #4c7bf3 !default;
$green: #29cc6d !default;
$yellow: #f3cb0a !default;
$cyan: #35AAEB !default;
$red: #f74b51 !default;
$purple: #8951dc !default;
$teal: #1cd0ae !default;

$light: #f2f3f3 !default;
$secondary:     #E7AF10 !default;
$gray-150: #f5f5f5 !default;

$small-font-size:             84% !default;
$border-radius:               .16rem !default;

$input-btn-padding-y:         .5rem !default;
$input-btn-padding-x:         .82rem !default;

$input-btn-padding-y-sm:      .34rem !default;
$input-btn-padding-x-sm:      .62rem !default;

@import "node_modules/bootstrap/scss/bootstrap";

.intro {
  margin-top: 10em;
  margin-bottom: 4em;
}

.intro__id {
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-left: -3px;
}

@media only screen and (min-width: 540px) {
  .row.lg-gutters {
    margin-left: -20px;
    margin-right: -20px;

    > [class*="col-"] {
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

@media only screen and (max-width: 540px) {
  .intro__id {
    font-size: 2.4rem !important;
  }
}

.shadowable:hover {
  box-shadow: 0px 5px 10px 0px rgb(235, 235, 235);
  transition: box-shadow 0.1s ease-in-out;
}
